.logo{
  max-width: 150px;
}



header{
  height: 70vh;
  background-image: url("images/home-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  top: 0;
  width: 100%
}

.portfolio-card{
  width: 18rem;
}

.carousel-item p {
  padding:5px 25px 0;
  position:relative;
}

.carousel-item p::before{
	content: "“";
  font-size: 80px;
  top: -33px;
  left: 0px;
  margin-right: 10px;
  position: absolute;
}

.carousel-item p::after{
  content: "”";
  font-size: 80px;
  height: 30px;
  left: auto;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.nav-link {
    display: block;
    padding: 1.5rem 1rem;
}
.darkHeader {
    background-color: rgba(0,0,0,.8);
}
section#testimonials {
    padding: 35px 0 90px!important;
}
section#portfolio {
  padding-top:70px;
}
section#portfolio {
    padding-top: 69px!important;
}
section#about {
    padding: 60px!important;
}
section#about h1 {
    margin-bottom: 19px;
}
section#about p {
    line-height: 1.7;
}
h1.text-center.display-3 {
    font-weight: 500;
}
footer.py-1 {
    padding: 33px 0 18px!important;
}
p.card-text {
    text-align: center;
    font-weight: 700;
}
.img-wrap {
    height: 156px;
    overflow: hidden;
}

@media screen and (max-width:600px){
  .portfolio-card {
      width:100%;
  }
  .fixed-top {
    
    
    max-width: 100%;
    margin: 0 auto;
}
  .display-3 {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 1.2;
  }
  .img-wrap {
    height: auto;
    overflow: hidden;
}
}